<% include partials/header %>
    <h1>Welcome to Homepage</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpQszPNZRHCAFjm0HYnT4QW8UR180kYsHP4W9vpRfEOYGLh4eL">
<% include partials/footer %>
