<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Welcome to Homepage</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpQszPNZRHCAFjm0HYnT4QW8UR180kYsHP4W9vpRfEOYGLh4eL">
</body>
</html>
