<h1>You like <%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>Good Choice!</p>
<% } else { %>
    <p>Bad Choice</p>
<% } %>

<p>PS this is the Like.ejs file</p>